@import '../../styles/global.scss';


.title{
    width: 100%;
    display: flex;
    align-items: center;
}

.title-name{
    margin-right: 10px;
    font-weight: $fontBold;
    font-size: $fontTitleSize;
    border-bottom: 3px solid $accentColor;
    height: 100%;
}

@media(max-width: 600px){
    .title{
        margin: 10px 0;
        justify-content: center;
    }
}