$principalColor: #04021a;
$secondaryColor: #0a0442;
$accentColor: #0053fb;


$fontColor: white;
$fontBold: 700;
$fontMedium: 600;
$fontNormal: 500;

$fontTitleSize: 20px;

html{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    color: $fontColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $principalColor;
}

code {
    font-weight: $fontNormal;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button{
    cursor: pointer;
}

ul, li{
    list-style: none;
    margin: 10px 0;
    padding: 0;
}