@import '../../../../shared/styles/global.scss';

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 70px;
    padding: 10px;
    background-color: $secondaryColor;
    cursor: pointer;
}

.item-avatar{
    border-radius: 50%;
    height: 100%;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.info-name{
    font-weight: $fontMedium;
    font-size: 1.2rem;
}

.info-login{
    font-size: 1rem;
    font-weight: $fontMedium;
    color: rgb(131, 131, 131);
}